src/main/java/com/note/old/dom4j/1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.itcast.cn/20151111"
elementFormDefault="qualified">
	<element name="person">
		<complexType>
			<sequence>
			<!-- <all> -->
			<!-- <choice> -->
					<element name="name" type="string" maxOccurs="unbounded"></element>
					<element name="age" type="int"></element>
			<!-- </choice> -->
			<!-- </all>	 -->
			</sequence>
			<attribute name="id1" type="int" use="required"></attribute>
		</complexType>
	</element>
</schema>